[project]
	description = Sleek, intuitive, and powerful front-end framework for faster and easier web development.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jarvis Young (jarvys)
[access "refs/for/refs/*"]
	read = group user/Jarvis Young (jarvys)
	push = group user/Jarvis Young (jarvys)
	label-Code-Review = -2..+2 group user/Jarvis Young (jarvys)
	label-Verified = -1..+1 group user/Jarvis Young (jarvys)
	rebase = group user/Jarvis Young (jarvys)
	removeReviewer = group user/Jarvis Young (jarvys)
	submit = group user/Jarvis Young (jarvys)
[access "refs/heads/*"]
	read = group user/Jarvis Young (jarvys)
	create = group user/Jarvis Young (jarvys)
	push = +force group user/Jarvis Young (jarvys)
	pushMerge = group user/Jarvis Young (jarvys)
[access "refs/tags/*"]
	push = +force group user/Jarvis Young (jarvys)
	pushTag = group user/Jarvis Young (jarvys)
	pushSignedTag = group user/Jarvis Young (jarvys)
